@font-face {
  font-family: "Marck Script";
  src: url("fonts/MarckScript-Regular.ttf");
}

@font-face {
  font-family: "Treasure Hunt";
  src: url("fonts/Treasurehunt.ttf");
}

@font-face {
  font-family: "Waiting Sunrise";
  src: url("fonts/WaitingfortheSunrise-Regular.ttf");
}

body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-family: "Treasure Hunt";
    color: red;
}

p.writing {
    font-family: "Marck Script";
}


p.handwriting {
    font-family: "Waiting Sunrise";
}

.field {
    display: flex;
    justify-content: space-between;
}

.field label, .field input {
    flex-grow: 1;
}

