<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <link href = "css/styles.css" rel = "stylesheet"/>
        <title>PIRATE PETE?S TREASURE HUNT GAME</title>
    </head>
    <body>
        <h1>ADD THE PLAYERS PROFILE</h1>

        <h4>Players profile</h4>
        <form th:action="@{/admin/user/update}" method="post" th:object="${player}">
            <div th:each="player,iter: ${players}">
                <p th:text="${iter.index}"></p>
                <input type="text" th:value="*{fullName}" name="fullName"/>
                <input type="number" th:value="*{age}" name="age"/>
            </div>
            <button type="submit">ADD PLAYERS</button>
        </form>
    </body>
</html>