<!DOCTYPE html>
<html>
    <head>
        <link href = "css/styles.css" rel = "stylesheet"/>
        <title>PIRATE PETE?S TREASURE HUNT GAME</title>
    </head>
    <body>
        <h1>ADD THE PLAYERS PROFILE</h1>

        <h4>Player NUM</h4>
        <form>
            <select>
                <option value="2">2 PLAYERS</option>
                <option value="3">3 PLAYERS</option>
                <option value="4">4 PLAYERS</option>
            </select>
            <button type="submit">OK</button>
        </form>
    </body>
</html>