<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <link href = "css/styles.css" rel = "stylesheet"/>
        <title>PIRATE PETE?S TREASURE HUNT GAME</title>
    </head>
    <body>
        <h1>ADD THE PLAYERS PROFILE</h1>

        <h4>Players profile</h4>
        <form th:action="@{/players}" method="post" th:object="${player}">
            <div class="field">
                <label>Full Name</label>
                <input type="text" th:value="*{fullName}" name="fullName" placeholder="Name"/>
            </div>
            <div class="field">
                <label>Age</label>
                <input type="number" th:value="*{age}" name="age" placeholder="Age"/>
            </div>
            <button type="submit">ADD PLAYERS</button>
        </form>
    </body>
</html>